export AWS_PROFILE=htt
export AWS_DEFAULT_REGION=eu-central-1
# export ARM_SUBSCRIPTION_ID=34c57700-5785-4dad-99b5-626c57d5a433
export ARM_TENANT_ID=05a0d0e2-b1f8-4786-8488-00d7bf6c2e40

# Put the following in your .env file:
# ARM_CLIENT_ID="<service_principal_appid>"
# ARM_CLIENT_SECRET="<service_principal_password>"
# ARM_ACCESS_KEY="<storage accout access_key>"

dotenv_if_exists
